*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div, header, nav {
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content:space-between;
}